table {
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tooMuch {
  color: red;
}
.totMC {
  margin: 25px;
}
#inputFN,#inputLN,#inputID,#inputJT,#inputAS {
  margin: 5px;
}
